@use 'config/reset';
@use 'config/variaveis';
@use 'section/products';
@use 'sass:math';

@mixin elementoWidth() {
    width: 100%;
}

@function pixelParaEm($alvoEmPixel, $contextoempixel: 16px) {
    @return math.div($alvoEmPixel, $contextoempixel);
}

body {
    background-color: variaveis.$corPrincipal;

    .container {
        @include elementoWidth();
        max-width: 1023px;
        margin: 0 auto;
    }
}

header {
    background-color: variaveis.$corSecundaria;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;
        list-style: none;

        a {
            color: variaveis.$corLetras;
            text-decoration: none;
        }
    }
}

section {
    padding: 56px 0;
}

.products {
    @include elementoWidth();
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    list-style: none;

    .product-item img {
        @include elementoWidth();
        border-radius: 16px;

    }

    .product-button {
        display: block;
        background-color: variaveis.$corButton;
        color: variaveis.$corLetras;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;

        &:hover {
            background-color: variaveis.$corHover;
        }
    }
}

@media screen and (max-width: variaveis.$tablet) {
    header {
        
        font-size: 1.5em;
    }

    .container {
        @include elementoWidth();
        padding: 0 0.8em;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: variaveis.$mobile) {
    header {
        padding: 0 0.8em;
    }

    .products {
        display: block;
        padding: 0.8em;

        .product-item {
            margin-bottom: 32px;
        }
    }
}